:root {
    --primary-color: #F7CB15;
    --secondary-color: #6C3636;
    --accent-color: #B86363;
    --background-color: #0E0E0E;
    --contrast-background: #FFFFFF;
    // these are examples
    // to talk over the theme of the app
}

// SCSS variables mapping (works with 'use')
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$accent-color: var(--accent-color);
$background-color: var(--background-color);
$contrast-background: var(--contrast-background);