@use "../vars" as *;

.FilmWindowDescription--container {
  font-size: larger;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .FilmWindowDescription--title {
  }
  .FilmWindowDescription--info {
    overflow-y: auto;
    margin: 0.7rem 0;
  }
  .FilmWindowDescription--button {
  }
}
